$align: left;
$bg-color: #fdf389;
$color-01: rgb(241, 241, 233);
$color-02: #dee4cf;
$color-03: rgb(109, 112, 99);
$color-04: #222;
$color-default: #0c0c0a;
$font-big: 3rem; 
$font-family-default: Arial, Helvetica, sans-serif;
$font-medium: 2.2rem;
$font-normal: 1.5rem;
$font-small: 1.2rem;
$mb: 1.5rem;
$mt: 1.5rem;
$mt-02: 3rem;
$space-default: 1.5rem;